* {
  padding: 0;
  margin: 0;
  --anchor-color: #aab99a;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: rgb(28, 191, 168);
  background: radial-gradient(
    circle,
    rgba(28, 191, 168, 1) 0%,
    rgba(193, 216, 91, 1) 35%,
    rgba(0, 255, 237, 1) 100%
  );
}

.card {
  padding: 2em;
}


